
.bx-authform-social ul li {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 5px;
}
.bx-authform-social ul li .bx-authform-social-icon {
	display: block;
	width: 35px;
	height: 35px;
	/*background-image: url(images/sprite.png);*/
	background-repeat: no-repeat;
	border-bottom: none;
}
.bx-authform-social ul li .bx-authform-social-icon:hover{opacity: .9;}
.bx-authform-social ul li .bx-authform-social-icon.box {background-position: 0 0;}
.bx-authform-social ul li .bx-authform-social-icon.dropbox {background-position: -44px 0;}
.bx-authform-social ul li .bx-authform-social-icon.bitrix24 {background-position: -88px 0;}
.bx-authform-social ul li .bx-authform-social-icon.yandex {background-position:-132px 0;}
.bx-authform-social ul li .bx-authform-social-icon.openid {background-position:-176px 0;}
.bx-authform-social ul li .bx-authform-social-icon.odnoklassniki {background-position:-220px 0;}
.bx-authform-social ul li .bx-authform-social-icon.google {background-position:-264px 0;}
.bx-authform-social ul li .bx-authform-social-icon.mymailru {background-position:-308px 0;}
.bx-authform-social ul li .bx-authform-social-icon.livejournal {background-position:-352px 0;}
.bx-authform-social ul li .bx-authform-social-icon.openid-mail-ru {background-position:-440px 0;}
.bx-authform-social ul li .bx-authform-social-icon.liveid {background-position:-484px 0;}
.bx-authform-social ul li .bx-authform-social-icon.liveinternet {background-position:-528px 0;}
.bx-authform-social ul li .bx-authform-social-icon.blogger {background-position:-572px 0;}
.bx-authform-social ul li .bx-authform-social-icon.vkontakte {background-position:-616px 0;}
.bx-authform-social ul li .bx-authform-social-icon.twitter {background-position:-660px 0;}
.bx-authform-social ul li .bx-authform-social-icon.facebook {background-position:-704px 0;}
.bx-authform-social ul li .bx-authform-social-icon.google-plus {background-position:-748px 0;}
.bx-authform-social ul li .bx-authform-social-icon.office365 {background-position:-792px 0;}
