<div class='big-menu'>
    <div class='big-menu__inner'>
        <div class="row center-xs">


            <div class="col-xs">
                <ul class='big-menu__list'>
                    <li>
                        <div>Женская одежда<div class="expand-icon"></div></div>
                        <ul class='big-menu__list-inner'>
                            <li>
                                <a href="/zhenskaya_odezhda/"><span class='text-bold'>Посмотреть все</b></a>
                            </li>
                            <li>
                                <a href="/zhenskaya_odezhda/platya/">Платья</a>
                            </li>
                            <li>
                                <a href="#">Комбинезоны</a>
                            </li>
                            <li>
                                <a href="/zhenskaya_odezhda/topy_i_bluzki/">Топы и Блузки</a>
                            </li>
                            <li>
                                <a href="/zhenskaya_odezhda/rubashki/">Рубашки</a>
                            </li>
                            <li>
                                <a href="#">Футболки и майки</a>
                            </li>
                            <li>
                                <a href="/zhenskaya_odezhda/yubki/">Юбки</a>
                            </li>
                            <li>
                                <a href="#">Брюки</a>
                            </li>
                            <li>
                                <a href="#">Шорты</a>
                            </li>
                            <li>
                                <a href="/zhenskaya_odezhda/dzhinsy/">Джинсы</a>
                            </li>
                            <li>
                                <a href="/zhenskaya_odezhda/trikotazh/">Трикотаж</a>
                            </li>
                            <li>
                                <a href="#">Жакеты</a>
                            </li>
                            <li>
                                <a href="#">Комплекты и Костюмы</a>
                            </li>
                            <li>
                                <a href="#">Жилеты</a>
                            </li>
                            <li>
                                <a href="#">Верхняя одежда</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>Обувь женская <div class="expand-icon"></div></div>
                        <ul class='big-menu__list-inner'>
                            <li>
                                <a href="#">lorem</a>
                            </li>
                            <li>
                                <a href="#">lorem2</a>
                            </li>
                            <li>
                                <a href="#">lorem3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>Аксессуары <div class="expand-icon"></div></div>
                        <ul class='big-menu__list-inner'>
                            <li>
                                <a href="#">Украшения</a>
                            </li>
                            <li>
                                <a href="#">Шарфы и платки</a>
                            </li>
                            <li>
                                <a href="#">Перчатки и варежки</a>
                            </li>
                            <li>
                                <a href="#">Головные уборы</a>
                            </li>
                            <li>
                                <a href="#">Пояса и ремни</a>
                            </li>
                            <li>
                                <a href="#">Сумки</a>
                            </li>
                            <li>
                                <a href="#">Подарочный сертификат</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs">
                <ul class="big-menu__list">
                    <li>
                        <a href="/novinki/">Новинки</a>
                    </li>
                     <li>
                        <a href="/rasprodazha/">SALE</a>
                    </li>
                     <li>
                        <a href="/dizaynery/">Дизайнеры</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs">
                <ul class="big-menu__list">
                    <li>
                        <a href="/dostavka-i-oplata/">Доставка и оплата</a>
                    </li>
                     <li>
                        <a href="/kontakty/">Контакты</a>
                    </li>
                </ul>
            </div>


            
        </div>
    </div>
</div>